<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <iisnode loggingEnabled="true" xdt:Transform="Replace" />
  </system.webServer>
    <compilation
      xdt:Transform="RemoveAttributes(debug)">
    </compilation>
</configuration>